<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<meta id="viewport" name="viewport" content="width=device-width, user-scalable=no"  />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title>Primeira Igreja Batista em Inhumas</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/ekko-lightbox.min.css">
            <link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script language="javascript" src="js/bootstrap.min.js" ></script>
	<script src="js/jquery.cycle.lite.js"></script>
        <script language="javascript" src="js/bootstrap-prompts-alert.js" ></script>
        <script language="javascript" src="js/ekko-lightbox.min.js" ></script>
    <script>
    $('#mural').carousel({interval: 1500, pause: "hover"});;
    </script>
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if gte IE 9]><style type="text/css">.gradient {filter: none;}</style><![endif]-->
</head>
<body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container bg-container">
<header>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cabecalho">
<div id="logo"><img src="img/logo.png" /></div>
</div>
	<div id="container_menu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<nav class="navbar navbar-default" id="menu_principal">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-lg hidden-md" href="#">PIBI</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i> <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form id="busca_menu" class="navbar-form pull-right" role="search">
					<div class="input-group">
                                            <div class="inner-addon left-addon">
                                                <i class="glyphicon glyphicon-search"></i>
						<input type="text" id="form_busca" class="form-control" placeholder="Buscar...">
                                            		<span class="input-group-btn">
							<button type="submit" class="btn btn-info">Buscar							</button>
						</span>
                                            </div>
					</div>
				</form>
    </div>
  </div>
</nav>
</div>
<div id="c_m" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div id="mural" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mural" data-slide-to="0" class="active"></li>
    <li data-target="#mural" data-slide-to="1"></li>
    <li data-target="#mural" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/850x400" alt="...">
      <div class="carousel-caption hidden-xs">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/850x400" alt="...">
      <div class="carousel-caption hidden-xs">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/850x400" alt="...">
      <div class="carousel-caption hidden-xs">
          <h3>Caption Text</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#mural" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-menu-left"></span>
  </a>
  <a class="right carousel-control" href="#mural" role="button" data-slide="next">
    <span class="glyphicon glyphicon-menu-right"></span>
  </a>
</div>
</div>
<div id="c_e" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 table-responsive">
<h1><i class="glyphicon glyphicon-share-alt"></i> Atividades da Semana</h1>
<table class="table" id="atividades">
<tr><td colspan="2" id="s" class="dia">Segunda Feira</td></tr>
<tr><td class="horario">18:00</td><td class="programacao">Culto de Oração</td></tr>
<tr><td colspan="2" id="t" class="dia">Terça Feira</td></tr>
<tr><td class="horario" rowspan="2">19:30</td><td class="programacao">Sociedade de Homens</td></tr>
<tr><td class="programacao">Mulheres Cristãs em Ação</td></tr>
<tr><td colspan="2" id="q" class="dia">Quarta Feira</td></tr>
<tr><td class="horario">19:30</td><td class="programacao">Culto de Oração e Doutrina</td></tr>
<tr><td colspan="2" id="qq" class="dia">Quinta Feira</td></tr>
<tr><td class="horario">19:30</td><td class="programacao">Culto na Congragação do Raio do Sol</td></tr>
<tr><td colspan="2" id="sa" class="dia">Sabado</td></tr>
<tr><td class="horario">20:00</td><td class="programacao">Ministério Jovem</td></tr>
<tr><td colspan="2" id="d" class="dia">Domingo</td></tr>
<tr><td class="horario">09:00</td><td class="programacao">Escola Bíblica Dominical</td></tr>
<tr><td class="horario">19:30</td><td class="programacao">Culto de Louvor e Adoração</td></tr>

</table>
</div>
<div class="limpa"></div>
</header>
<hr>
<div id="ceia" class="alert alert-warning" role="alert"><span class="christian_icons">U</span><h1>Neste domingo, será realizada a Santa Ceia!</h1></div>
<hr />
<div class="row">
<!-- corpo de dados> </!-->
<section class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="conteudo">
    <div class="textos">
        <div class="secao"><i class="christian_icons secao_icon"> V</i> REFLEXÕES</div>
            <figure class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="img-responsive img-thumbnail" src="http://placehold.it/300x200"/>
                <figcaption>
                    <h1><i class="glyphicon glyphicon-link"></i> <a href="#">Título</a></h1>
                    <h2><i class="glyphicon glyphicon-user"></i> <a href="#">Autor</a></h2>
                    <h3><i class="glyphicon glyphicon-tag"></i> <a href="#">Catergoria</a></h3>
                </figcaption>
            </figure>
            <figure class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="img-responsive img-thumbnail" src="http://placehold.it/300x200"/>
                <figcaption>
                    <h1><i class="glyphicon glyphicon-link"></i> <a href="#">Título</a></h1>
                    <h2><i class="glyphicon glyphicon-user"></i> <a href="#">Autor</a></h2>
                    <h3><i class="glyphicon glyphicon-tag"></i> <a href="#">Catergoria</a></h3>
                </figcaption>
            </figure>
                    <figure class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="img-responsive img-thumbnail" src="http://placehold.it/300x200"/>
                <figcaption>
                    <h1><i class="glyphicon glyphicon-link"></i> <a href="#">Título</a></h1>
                    <h2><i class="glyphicon glyphicon-user"></i> <a href="#">Autor</a></h2>
                    <h3><i class="glyphicon glyphicon-tag"></i> <a href="#">Catergoria</a></h3>
                </figcaption>
            </figure>
            <figure class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="img-responsive img-thumbnail" src="http://placehold.it/300x200"/>
                <figcaption>
                    <h1><i class="glyphicon glyphicon-link"></i> <a href="#">Título</a></h1>
                    <h2><i class="glyphicon glyphicon-user"></i> <a href="#">Autor</a></h2>
                    <h3><i class="glyphicon glyphicon-tag"></i> <a href="#">Catergoria</a></h3>
                </figcaption>
            </figure>
        <div class="limpa"></div>
        <a href="#" class="btn btn-warning pull-right" target="_self"><i class="glyphicon glyphicon-plus-sign"></i> REFLEXÕES</a>
        <div class="limpa"></div>
    </div>
            <br />
    <div class="secao_sidebar"><i class="glyphicon glyphicon-camera secao_sidebar_icon"></i> ACONTECE</div>
        <figure class="hoverzoom">
	<img src="http://www.tutorialwebdesign.com.br/wp-content/uploads/2014/07/tigre.jpg">
	<figcaption class="retina">
		<a href="#">
                <p><i class="glyphicon glyphicon-camera"></i></p>
                <p>Reunião na casa do Ir. Wenis</p>
                <p>04/10/2015</p></a>
	</figcaption>
    </figure>
    <figure class="hoverzoom">
	<img src="http://www.tutorialwebdesign.com.br/wp-content/uploads/2014/07/tigre.jpg">
	<figcaption class="retina">
		<a href="#">
                <p><i class="glyphicon glyphicon-camera"></i></p>
                <p>Reunião na casa do Ir. Wenis</p>
                <p>04/10/2015</p></a>
	</figcaption>
    </figure>
    <figure class="hoverzoom">
	<img src="http://www.tutorialwebdesign.com.br/wp-content/uploads/2014/07/tigre.jpg">
	<figcaption class="retina">
		<a href="#">
                <p><i class="glyphicon glyphicon-camera"></i></p>
                <p>Reunião na casa do Ir. Wenis</p>
                <p>04/10/2015</p></a>
	</figcaption>
    </figure>
    <figure class="hoverzoom">
	<img src="http://www.tutorialwebdesign.com.br/wp-content/uploads/2014/07/tigre.jpg">
	<figcaption class="retina">
		<a href="#">
                <p><i class="glyphicon glyphicon-camera"></i></p>
                <p>Reunião na casa do Ir. Wenis</p>
                <p>04/10/2015</p></a>
	</figcaption>
    </figure>
</section>
<!-- barra lateral> </!-->
<aside class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="sidebar">
    <div class="secao_sidebar s_azul"><i class="glyphicon glyphicon-calendar secao_sidebar_icon"></i> CALENDÁRIO</div>
    <table class="eventos">
        <tbody class='ev smhbi'>
        <tr>
            <td rowspan="3" class="logo_org"> </td>
            <td class="dia conf_n">19</td>
            <td class="evento" rowspan="3">EVENTO</td>
        </tr>
        <tr><td class="mes conf_n">AGO</td></tr>
        <tr><td class="hora conf_n">19:30</td></tr></tbody>
        <tbody class='ev mca'>
        <tr>
            <td rowspan="3" class="logo_org"> </td>
            <td class="dia conf_n">19</td>
            <td class="evento" rowspan="3">EVENTO</td>
        </tr>
        <tr><td class="mes conf_n">AGO</td></tr>
        <tr><td class="hora conf_n">19:30</td></tr></tbody>
        <tbody class='ev unijovem'>
        <tr>
            <td rowspan="3" class="logo_org"> </td>
            <td class="dia conf_n">19</td>
            <td class="evento" rowspan="3">EVENTO</td>
        </tr>
        <tr><td class="mes conf_n">AGO</td></tr>
        <tr><td class="hora conf_n">19:30</td></tr></tbody>
        <tbody class='ev igreja'>
        <tr>
            <td rowspan="3" class="logo_org"> </td>
            <td class="dia conf_n">19</td>
            <td class="evento" rowspan="3">EVENTO</td>
        </tr>
        <tr><td class="mes conf_n">AGO</td></tr>
        <tr><td class="hora conf_n">19:30</td></tr></tbody>
    </table>
    <div class="secao_sidebar s_azul"><i class="glyphicon glyphicon-music secao_sidebar_icon"></i> RÁDIO EDUCATIVA FM</div>
    <audio controls autoplay="autoplay"><source src="http://50.97.204.42:8364/;stream.mp3" type="audio/mp3">Seu navegador não suporta esse elemento.</audio>
    <audio controls autoplay="autoplay"><source src="http://50.97.204.42:8364/;stream.nsv" type="audio/mp3">Seu navegador não suporta esse elemento.</audio>
  <div id="caixa_pedidos">
  <div class="secao s_azul_a"><i class="christian_icons secao_icon"> a</i> PEDIDOS DE ORAÇÃO</div>
  <div id="box_form_pedido">
      <p> ~ Faça seu pedido e oraremos por você! ~ </p>
      <form method="post" id="form-pedido">
          <div class="form-group">
    <label for="nome">Nome Completo</label>
    <input name="nome" type="text" class="form-control" id="nome" placeholder="ex.: João Carlos da Silva">
  </div>
    <div class="form-group">
    <label for="email">E-mail</label>
    <input name="email" type="email" class="form-control" id="email" placeholder="ex.: joaocarlos@pibinhumas.org.br">
  </div>
    <div class="form-group">
    <label for="area">Área</label>
    <select name="area" class="form-control" id="area">
        <option value="0"> -- Selecione uma área -- </option>
        <option value="1">Financeira</option>
        <option value="2">Espiritual</option>
        <option value="3">Família</option>
        <option value="4">Trabalho</option>
        <option value="5">Estudos</option>
        <option value="6">Saúde</option>
        <option value="7">Agradecimento</option>
        <option value="8">Diversas</option>        
    </select> 
  </div>
     <div class="form-group">
    <label for="pedido">Pedido/Agradecimento</label>
    <textarea name="pedido" class="form-control" id="pedido" placeholder="ex.: Agradeço à Deus pela minha família e pela minha vida e peço à igreja que ore pela minha saúde."></textarea>
     </div>      
          <input class="btn block-center" type="submit" value="Enviar">
      </form>
      
  </div>
  </div>
</aside>
</div>
</div>
<div class="container subfooter">
    <div class="quarto aniversariantes esquerdo">
        <div class="cabecalho_niver"><h1>ANIVERSARIANTES DA SEMANA</h1></div>
        <table>
            <caption>Tabela de aniversariantes da semana</caption>
            <tbody>
            <tr><td class="data_a">11/10</td><td>EDUARDO DIAS</td></tr>
            <tr><td class="data_a">11/10</td><td>EDUARDO DIAS</td></tr>
            <tr><td class="data_a">11/10</td><td>EDUARDO DIAS</td></tr>
            <tr><td class="data_a">11/10</td><td>EDUARDO DIAS</td></tr>
            </tbody>
        </table>
    </div>
    <div class="pastor direito">
        <h1><span class="bg-white">Pr. Carlos Henrique Santana Rocha</span></h1>
        <h2><span class="bg-white">Pastor Titular da PIB-Inhumas</span></h2>
        <figure>
        <img src="#" />
        <figcaption>Pastor e família</figcaption>
        </figure>
        
    </div>
    <div class="face direito"><div class="fb-page" data-href="https://www.facebook.com/pibinhumasgo" data-width="500" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pibinhumasgo"><a href="https://www.facebook.com/pibinhumasgo">Primeira Igreja Batista em Inhumas - GO</a></blockquote></div></div></div>
</div>

<div class="clearfix"></div>
<!-- rodapé> </!--> 
<footer class="rodape gradient">
RODAPE
</footer>
<a href="#" class="link_topo"><div class="topo"><i class="glyphicon glyphicon-chevron-up"></i></div></a>
</body>
</html>